.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #dadde4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-component {
  /* The image used */

  /* Full height */ 
width: 100%;
 
   

  /* Center and scale the image nicely
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; */
}

.ui.medium.circular.image.Change:hover {
  background-color: black;
}

.column.Change:hover {
  background-color: black;
}

.project-text {
  font-family: raleway, sans-serif;
  text-align: center;
  font-size: 15px;
  vertical-align: middle;
  color: white;
  font-weight: 800;
  letter-spacing: 3px;
}

.nav-name-text {
    font-family: raleway;
    font-size: 20px;
    font-weight: 800;
    color:black;
    letter-spacing: 2px;
}

.nav-name-text.Change:hover{
  color: grey
}

.nav-menu-text {
  font-family: raleway;
  letter-spacing: 1.5px;

}

.text {
  font-family: raleway;
}

.bold-text{
  font-family: raleway;
  font-weight: 800;
}
